@import "font/font.css";

html, body      { height: 100%; box-sizing:border-box; font-family: 'DINAlternate-Bold'; }
body            { background: url("../img/body.jpg") fixed; background-size: 100% 100%;}
.header         { width: 100%; height: 300px; position: absolute; top: 0; left: 0; overflow: hidden; background: url("../img/header1.png")no-repeat; background-size: 100% 300px; }
.main-logo      { margin: 53px auto 0; width: 200px; height: 80px; display: block; }
.container      { max-width: 655px; display: table; height:     100%; padding: 0 !important; }

.all-content    { width: 100%; padding-top: 300px; }
.all-content h1 { font-size: 32px; color: #0c2e3b; text-align: center; }
.all-content h2 { font-size: 41px; color: #0c2e3b; text-align: center; }
.all-content h3 { font-size: 24px; color: #0c2e3b; text-align: center; }

.form-items     { width: 100%; height: 55px; border-radius: 10px; margin: 15px auto 15px; display: block; color: #828282; box-shadow: 0 -1px 0 1px #f5f5f5; border: none; text-indent: 15px; font-size: 19px; background: #ffffff; }

.btn-default                        { background-image: none;outline: 0; }
.btn-group>.btn:first-child         { border-radius: 10px;outline: 0; height: 55px;}
.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default:visited       { background: #ffffff; }
.bootstrap-select.btn-group .dropdown-toggle .filter-option                             { color: #828282; font-size: 30px;}
.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn)   { width: 100%; height: 55px; border-radius: 5px; }
.bootstrap-select.btn-group .dropdown-menu li a span.text                               { color: #828282; }

input[type=checkbox]
{
    -ms-transform: scale(2);
    -moz-transform: scale(2);
    -webkit-transform: scale(2);
    -o-transform: scale(2);
    margin-top: 15px;
}

a:focus,
a:active,
a:visited,
a:hover,
button:focus,
input:focus,
optgroup:focus,
select:focus,
textarea:focus  { outline: 0 !important; }

.tel1           { width: 95px !important; float: left;  font-size: 22px; font-weight: 100; margin-top: 0;}
.tel2           { width: calc(100% - 105px) !important; float: right; margin-top: 0;}
.rules-check    { float: left;}
.rules          { width: 90%; float: right; color: #23576b; font-size: 21px;}

select                      { width: 100% !important; height: 55px; border-radius: 10px !important; color: #828282;box-shadow: 0 -1px 0 1px #f5f5f5;background: #ffffff; border: none; }
select:focus, select:active { box-shadow: 0 -1px 0 1px #f5f5f5;background: #ffffff; border: none; }


@media ( max-width: 800px) {
    .header     { background-size: 1000px;}
    .main-logo  { margin: 23px auto 0;}
    .container  { width: 90%; padding:0 5% 0 5%; }
    body            { background-size: auto 100%;}
    .all-content{ padding-top: 150px; }
    .form-items { font-size: 30px !important; }

    input[type=checkbox]    { margin-top: 10px; margin-left: 2px; background: #ffffff; border: none;}
    select                  { font-size: 30px !important;}
    .bootstrap-select.btn-group .dropdown-toggle .filter-option { font-size: 30px !important;}
    .dropdown-menu>li>a     { font-size: 21px !important;}
}