<!doctype html>
<html lang="en">
<head>
    <link rel="icon" type="image/png" href="../images/favicon.png" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Urban Matters</title>
    <link rel="stylesheet" href="../stylesheets/scss/style.css" />

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script src="../javascripts/bootstrap.js"></script>

</head>
<body>
    <div class="header">
        <div class="container">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="../images/logo.png" class="main-logo"/></a>
                </div>

                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

                    <ul class="nav navbar-nav navbar-left">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="about.html">ABOUT</a></li>
                        <li class="active"><a href="project.html">PROJECT</a></li>
                        <li><a href="news.html">NEWS</a></li>
                        <li><a href="contact.html">CONTACT</a></li>
                    </ul>
                    <form class="navbar-form navbar-right hidden-xs" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                            <button type="submit" class="btn btn-default search-ico"></button>
                        </div>

                    </form>
                </div>
            </div>
        </nav>
    </div>
    </div>
    <div class="frame">
        <div class="wrapper project">
        <div class="container">
            <section class="content">
                <div class="landing-content">
                    <div class="row">
                        <div class="branch-items branch-1">
                            <div class=" col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                <div class="branch-map">
                                    <span class="branch-name">ISTANBUL</span>
                                </div>
                            </div>

                            <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                                <div class="branch-info">
                                    <span class="branch-title">ISTANBUL PROJECTS</span>
                                    <span class="branch-text">
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at pharetra mauris, eget ullamcorper arcu. Ut iaculis lacus tempor est consectetur ornare. Nullam tincidunt metus non arcu egestas, quis lacinia elit suscipit. Phasellus interdum arcu nunc, sit amet fringilla ipsum pharetra varius. Nulla gravida metus vitae volutpat egestas. Fusce ac lectus commodo, fermentum ipsum vitae, congue odio
                                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin at pharetra mauris, eget ullamcorper arcu. Ut iaculis lacus tempor est consectetur ornare. Nullam tincidunt metus non arcu egestas, quis lacinia elit suscipit. Phasellus interdum arcu nunc, sit amet fringilla ipsum pharetra varius. Nulla gravida metus vitae volutpat egestas. Fusce ac lectus commodo, fermentum ipsum vitae, congue odio
                                    </span>
                                    <a href="project-details.html" class="branch-link">SEE PROJECTS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="branch-items branch-2">
                            <div class=" col-lg-4 col-md-5 col-sm-6 col-xs-12">
                                <div class="branch-map">
                                    <span class="branch-name">AMSTERDAM</span>
                                </div>
                            </div>

                            <div class="col-lg-8 col-md-7 col-sm-6 col-xs-12">
                                <div class="branch-info">
                                    <span class="branch-title">AMSTERDAM PROJECTS</span>
                                    <span class="branch-text">
                                        Ut iaculis lacus tempor est consectetur ornare. Nullam tincidunt metus non arcu egestas, quis lacinia elit suscipit. Phasellus interdum arcu nunc, sit amet fringilla ipsum pharetra varius. Nulla gravida metus vitae volutpat egestas. Fusce ac lectus commodo, fermentum ipsum vitae, congue odio
                                        Ut iaculis lacus tempor est consectetur ornare. Nullam tincidunt metus non arcu egestas, quis lacinia elit suscipit. Phasellus interdum arcu nunc, sit amet fringilla ipsum pharetra varius. Nulla gravida metus vitae volutpat egestas. Fusce ac lectus commodo, fermentum ipsum vitae, congue odio
                                    </span>
                                    <a href="project-details.html" class="branch-link">SEE PROJECTS</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    </div>
    <div class="footer">
        <div class="container">
            <span class="footer-logo col-xs-4 col-sm-2 col-md-2"><img src="../images/logo-gray.png"/></span>
            <ul class="footer-social col-xs-4 col-sm-3 col-md-2">
                <li><a href="" class="footer-facebook"></a> </li>
                <li><a href="" class="footer-twitter"></a></li>
            </ul>
            <ul class="footer-copyright hidden-xs col-sm-5 col-md-6">
                <li>Copyright © 2015 URBAN MATTERS FOR ALL</li>
                <li>All Rights Reserved.</li>
            </ul>
            <a href="http://www.thalerholding.com/" class="footer-partners col-xs-4 col-sm-2 col-md-2"><img src="../images/logo-thaler.png"/></a>

        </div>

    </div>
</body>
</html>
